


body{
    font-family: Roboto, sans-serif;
    margin: 0;
    min-height: 100vh;
    overflow: hidden;
}

.menu-container{
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

.menu {
    width: 900px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ul{
   display: flex;
   gap: 10px;
}

li{
    text-decoration: none;
    list-style: none;
}